<footer id="footer">
	<div class="footer-pane">
		<div class="footer-header">Company</div>
		<a href="#">Team</a>
		<a href="#">Terms of Service</a>
		<a href="#">Careers</a>
	</div>
	<div class="footer-pane">
		<div class="footer-header">Follow us</div>
	</div>
</footer>