  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/logo.png"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/games">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/news">News</a>
          </li>
        </ul>
        <a class="ml-3 btn navbar-btn btn-info text-light" href="#">Login</a>
        <a class="btn btn-default navbar-btn btn-primary">Register</a>
      </div>
    </div>
  </nav>