<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body>
  <%- include partials/header.ejs %>
  <div class="py-5 text-center filter-dark h-75 d-flex align-items-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-left">
            <b>What
              <i>is </i>Youth Esports of America?</b>
          </h1>
          <p class="lead text-left">
            <b>Youth Esports of America (YEA) is an organization
              <br>that unites high school esports clubs together
              <br>in order to create an extensive community of
              <br>passionate gamers with numerous opportunities.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-dark">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
  <div class="h-75 py-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 my-5">
          <h2 class="text-light">Paving the way for the next generation.</h2>
          <p class="lead text-info">Just a suggestion, but it would be good to write an exerpt
            <br>on how the next generation will be comprised of the high school
            <br>students today. Write how YEA is on a mission to pave the path for
            <br>lucrative opportunities in this industry.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-light">What we've accomplished so far</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h1 class="display-1 text-primary">25</h1>
          <p class="lead">Affiliated Chapters</p>
        </div>
        <div class="col-md-4">
          <h1 class="display-1 text-primary">90</h1>
          <p class="lead">Another statistic</p>
        </div>
        <div class="col-md-4">
          <h1 class="display-1 text-primary">300</h1>
          <p class="lead">Another Statistic</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
        <div class="col-md-3">
          <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
          <h1 class="text-center">Team Member</h1>
          <p class="lead text-center">Team Role</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!--
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
  !-->
</body>

</html>