<!DOCTYPE html>
<html>
<head>
    <title>About | Youth Esports of America</title>
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/about.css">
</head>
<body>
    <% include ./partials/header.ejs %>
    <div id="content">
		<div class="large-box" >
			<img src="img/index_hero.jpg" id="large-box-image">
			<div class="large-box-content">
				<h1>What is Youth Esports of America?</h1>
				<p>Youth Esports of America is a nonprofit organization that unites high school esports clubs together in order to create an extensive community of passionate gamers with numerous opportunities.</p>
			</div>
        </div>
		<div class="spacer"></div>
		<div class="large-box" >
			<img src="img/index_hero.jpg" id="large-box-image">
			<div class="large-box-content">
				<h1>Paving the way for the next generation.</h1>
				<p>Just a suggestion, but it would be good to write an exerpt on how the next generation will be comprised of the high school students today. Write how YEA is on a mission to apve the path for lucrative opportunities in the industry.</p>
			</div>
        </div>
		<div id="belief">
			<h1>We believe that e-sports are more than just mashing buttons on a controller.</h1>
		</div>
		<div id="stats">
			<div class="stats-item">
				<h1>25</h1>
				<p>Affiliated Chapters</p>
			</div>
			<div class="stats-item">
				<h1>90</h1>
				<p>dingos</p>
			</div>
			<div class="stats-item">
				<h1>300</h1>
				<p>bears</p>
			</div>
		</div>
		<div id="team">
			<h1>Meet the team</h1>
			<div class="team-row">
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
			</div>
			<div class="team-row">
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
				<div class="team-item">
					<img src="img/default-team-member.png" />
					<span class="team-member-name">Team Member</span>
					<span class="team-member-role">Team Role</span>
				</div>
			</div>
		</div>
		
    </div>
	<% include ./partials/footer.ejs %>
</body>
</html>