<!DOCTYPE html>
<html>
<head>
    <title>Games | Youth Esports of America</title>
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/games.css">
</head>
<body>
    <% include ./partials/header.ejs %>
    <div id="content">
        <h1>Games List</h1>
		<div id="games">
			<a href="#" class="game">
				<img src="img/ssbm.png" \>
				<span>Super Smash Bros Melee</span>
			</a>
			<a href="#" class="game">
				<img src="img/ow.jpg" \>
				<span>Overwatch</span>
			</a>
			<a href="#" class="game" >
				<img src="img/league.jpg" \>
				<span>League of Legends</span>
			</a>
		</div>
    </div>
	<% include ./partials/footer.ejs %>
</body>
</html>