<!DOCTYPE html>
<html>
<head>
    <title>Home | Youth Esports of America</title>
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <% include ./partials/header.ejs %>
    <div id="content">
        <div class="carousel ">
			<div class="hero carousel-item" >
				<img src="img/index_hero.jpg" id="hero-image">
				<div class="hero-content">
					Home of High School Esports
					<div>
						<a class="link-button" href="#">YEA Programs</a>
						<a class="link-button" href="#">View Streams</a>
					</div>
				</div>
			</div>
			<div class="hero carousel-item" >
				<img src="img/index_hero.jpg" id="hero-image">
				<div class="hero-content">
					Dome of High School Esports
					<div>
						<a class="link-button" href="#">YEA Programs</a>
						<a class="link-button" href="#">View Streams</a>
					</div>
				</div>
			</div>
			<div class="hero carousel-item" >
				<img src="img/index_hero.jpg" id="hero-image">
				<div class="hero-content">
					Some of High School Esports
					<div>
						<a class="link-button" href="#">YEA Programs</a>
						<a class="link-button" href="#">View Streams</a>
					</div>
				</div>
			</div>
			<div class="hero carousel-item" >
				<img src="img/index_hero.jpg" id="hero-image">
				<div class="hero-content">
					Lome of High School Esports
					<div>
						<a class="link-button" href="#">YEA Programs</a>
						<a class="link-button" href="#">View Streams</a>
					</div>
				</div>
			</div>
			<a class="carousel-button carousel-button-left">&lt;</a>
			<a class="carousel-button carousel-button-right">&gt;</a>
			<span class="carousel-dots"></span>
        </div>
		<script src="js/carousel.js" /></script>
        <div id="sponsors"><img src="img/sponsors.jpg" style="width: 55%;"></div>
        <img src="img/web.jpg" style="width: 100%;">
        <img src="img/jinx_vi.jpg" style="width: 100%; opacity: 0.3; margin-top: 500px;">
    </div>
	<% include ./partials/footer.ejs %>
</body>
</html>