<!DOCTYPE html>
<html>
<head>
    <title>Home | Youth Esports of America</title>
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <nav id="top-nav">
        <img src="img/logo.png" id="nav-logo">
        <div id="nav-links">
            <a href="#">About</a>
            <a href="#">News</a>
            <a href="#">Clubs</a>
            <a href="#">Shop</a>
        </div>
        <div id="nav-account">
            <a class="link-button" id="login-link" href="/signin">Login</a>
            <a class="link-button" id="register-link" href="/register">Register</a>
        </div>
    </nav>
    <div id="content">
        <div id="hero">
            <img src="img/index_hero.jpg" id="hero-image">
            <div id="hero-content">
                Home of High School Esports
                <div>
                    <a class="link-button" href="#">YEA Programs</a>
                    <a class="link-button" href="#">View Streams</a>
                </div>
            </div>
        </div>
        <div id="sponsors"><img src="img/sponsors.jpg"></div>
        <img src="img/web.jpg" style="width: 100%;">
        <img src="img/jinx_vi.jpg" style="width: 100%; opacity: 0.3; margin-top: 500px;">
    </div>
    <footer id="footer">
        <div class="footer-pane">
            <div class="footer-header">Company</div>
            <a href="#">Team</a>
            <a href="#">Terms of Service</a>
            <a href="#">Careers</a>
        </div>
        <div class="footer-pane">
            <div class="footer-header">Follow us</div>
        </div>
    </footer>
</body>
</html>